<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
	<context-param>
		<param-name>mapsBaseDirectory</param-name>
		<param-value>@mapsBaseDirectory@</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>main.html</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>org.maia.gmm.web.WebApplication</listener-class>
	</listener>
	<servlet>
		<servlet-name>collectionJoin</servlet-name>
		<servlet-class>org.maia.gmm.web.controller.collection.JoinGameMapCollectionServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>collectionLeave</servlet-name>
		<servlet-class>org.maia.gmm.web.controller.collection.LeaveGameMapCollectionServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>collectionCreate</servlet-name>
		<servlet-class>org.maia.gmm.web.controller.collection.CreateGameMapCollectionServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>mapList</servlet-name>
		<servlet-class>org.maia.gmm.web.controller.map.ListGameMapsServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>mapLoad</servlet-name>
		<servlet-class>org.maia.gmm.web.controller.map.LoadGameMapServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>mapSave</servlet-name>
		<servlet-class>org.maia.gmm.web.controller.map.SaveGameMapServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>mapDelete</servlet-name>
		<servlet-class>org.maia.gmm.web.controller.map.DeleteGameMapServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>mapDownload</servlet-name>
		<servlet-class>org.maia.gmm.web.controller.map.DownloadGameMapServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>collectionJoin</servlet-name>
		<url-pattern>/collection/join</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>collectionLeave</servlet-name>
		<url-pattern>/collection/leave</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>collectionCreate</servlet-name>
		<url-pattern>/collection/create</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mapList</servlet-name>
		<url-pattern>/map/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mapLoad</servlet-name>
		<url-pattern>/map/load</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mapSave</servlet-name>
		<url-pattern>/map/save</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mapDelete</servlet-name>
		<url-pattern>/map/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mapDownload</servlet-name>
		<url-pattern>/map/download</url-pattern>
	</servlet-mapping>
</web-app>